<a href="/">
        Home
      </a>
    </nav>
    
    <h1>
  List of all actors
</h1>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <tr>
    <td>
      504
    </td>

    <td>
      <img src="https://image.tmdb.org/t/p/w500/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg" style="width:250px;">
    </td>

    <td>
      Tim Robbins
    </td>

    <td>
      1958-10-16
    </td>
